@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
}

/* header styling */
.header{
    position: relative;
    height: 100vh;
}
.header__logo--box{
    margin: 20rem auto 0;
    width: 40%;
}
.header__logo{
        width: 100%;
        height: auto;
        object-fit: cover;
}

/* navbar styling */
.navbar{
    height: 10vh;
    width: 100%;
}
.navbar__list{
    /* display: flex;
    justify-content: space-evenly;
    width: 22%;
    background-color: greenyellow; */
    margin-left: 4rem;
    list-style: none;
    padding: 2rem 0 0;
}
.navbar__link{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}
.navbar__item--logo{
    width: 33%;
    height: auto;
    display: none;
}
.navbar__logo{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* vertical nav styling */
.vertical__nav{
    position: fixed;
    right: 4rem;
    top: 5rem;
    z-index: 2;
}
.vertical__nav--triangle{
    height: 1rem;
    width: 1rem;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 2px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    transition: all .2s ease;
}
.vertical__nav--box{
    display: flex;
    flex-direction: row-reverse;
}

.vertical__nav--box:not(:last-child){
    margin-bottom: 1.5rem;
}
.vertical__nav--text{
    opacity: 0;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-right: .5rem;
    text-transform: capitalize;
    transition: opacity .2s ease;
}

/* animation for vertical nav */
.vertical__nav--triangle:hover {
    background-color: red;
}
.vertical__nav--triangle:hover ~ .vertical__nav--text{
    opacity: 1;
}

/* section sell css */
.section__sell{
    height: 100vh;
    width: 100%;
    background-color: tomato;
}

.section__sell--header{
    text-align: center;
    padding: 8rem 0 4rem;
    color: black;
    font-weight: 700;
    font-size: 3rem;
}

.section__sell--cta{
    width: 45%;
    margin: 0 auto 0;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 4rem 0;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}
.sell__cta--header{
    font-size: 2.7rem;
    font-weight: 500;
    padding: 0 0 1.5rem;
}
.sell__cta--paragraph{
    font-size: 1.8rem;
    color: #ffffff8f;
    padding: 0 0 2.2rem;
}

.section__sell--btn{
    width: 50%;
    background-color: green;
    border-radius: 5px;
    border: none;
    padding: 1.5rem 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
}

/* animation for button */

.section__sell--btn:hover{
    transform: translateY(-.5rem);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
}

.section__sell--btn:active{
    transform: translateY(0);
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    outline: none;
}

/* section buy style */
.section__buy{
    height: 100vh;
    width: 100%;
    background-color: #006A71;
}

.section__buy--header{
    text-align: center;
    padding: 8rem 0 4rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}

.section__buy--paragraph{
    font-size: 1.8rem;
    color: #ffffff8f;
    padding: 0 0 2.2rem;
    text-align: center;
}

.house{
    width: 60%;
    height: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.house__options{
    width: 30%;
}
.house__option--image{
    width: 100%;
    height: auto;
}

.house--image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.house__option--text{
    color: #ffffff;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.house__option--link{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}

/* why us section design */
.section__us{
    /* height: 100vh; */
    width: 100%;
    background-color: #79D70F;
    padding: 0 0 6rem;
}
.section__us--header{
    text-align: center;
    padding: 8rem 0 4rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}

.section__us--reasons{
    width: 60%;
    margin: 0 auto;
    height: auto;
}
.us--reason--one,
.us--reason--two{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.us--reason--one{
    margin: 0 0 3rem;
}

.reason__options{
    width: 30%;
}
.reason__option--image{
    width: 100%;
    height: auto;
}

.reason--image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.reason__option--text{
    color: #ffffff;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.reason__option--link{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}

/* blog section css */
.section__blog{
    height: 100vh;
    width: 100%;
    background-color: #342B38;
}

.section__blog--header{
    text-align: center;
    padding: 8rem 0 4rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}

.section__blog--1{
    
}